<div id="player-cards">
    <div id="opponent-card">
        <h2>{{opponent_username}}</h2>
        <h3>{{opponent_rank}}</h3>
    </div>
    <div id="player-card">
        <h2>{{your_username}}</h2>
        <h3>{{your_rank}}</h3>
    </div>
</div>
<div id="game-board"></div>