<h1>Home page!</h1>
<Div class="chess-piece-picture">
    <img src="" alt="">
</Div>
<Div id="login-signup-form">
    <form id="login-form">
        <h2>Login</h2>
        <input type="text" id="email-login" value="email"> <br>
        <input type="text" id="password-login" value="password">
    </form>
    <form id="signup-form">
        <h2>Sign Up</h2>
        <input type="text" id="username-signup"> <br>
        <input type="text" id="email-signup"> <br>
        <input type="text" id="password-signup">
    </form>
</Div>
<Div class="chess-piece-picture">
    <img src="" alt="">
</Div>
<script src="../public/js/login.js"></script>