<div id="host-slot">
    <h2>{{host_username}}</h2>
    <h4>White</h4>
</div>
<div id="joining-slot">
    <h2>{{opponent_username}}</h2>
    <h4>Black</h4>
    <button id="invite-friend-btn">Invite</button>
</div>
<div id="buttons">
    <button id="start-btn">Start</button>
    <button id="back-btn">Back</button>
</div>
<script src="/socket.io/socket.io.js"></script>
{{!-- TODO: make sure the src below is correct --}}
<script src="../public/js/lobby.js"></script>