:root {
    --white:  #fff;
    --orange:  #ee9c04;
    --yellow:  #F3CD05;
    --darkorange: #c27004;
    --green:  #20e00fde;
    --blue:  rgba(22, 78, 230, 0.829);
    --red:  rgba(255, 0, 0, 0.623);
    --black:  black;
    --brown:  #774000d8;
    --purple: rgb(52, 7, 90);
    --green1: rgba(47, 194, 47, 0.753);
    --blueish: rgb(9, 139, 133);
}

body {
    background-color: var(--orange);
}

h1 {
    font-size: 100px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    color: var(--brown);
    padding: 50px;
    border-radius: 50px;
}
h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    
}
h3{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#userpage-container {
    position: absolute;
    left: 17%;
    top: 20%;
}

img {
    margin-top: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#login-form {
    background-color: lightgrey;
    box-shadow: gray 2px 2px 5px;
    padding: 5px;
    border-radius: 5px;
}
#signup-form {
    background-color: lightgrey;
    margin-top: 30px;
    box-shadow: gray 2px 2px 5px;
    padding: 5px;
    border-radius: 5px;
}
#users {
    font-weight: bolder;
    color: var(--purple);
}
#username {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
}
#lobby-page{
    background-color: var(--brown);
    margin-top: 150px;
    
}
/* #host-username {
    text-align: center;
} */
/* #add-friend {
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
} */

#friends-box{
    background-color: var(--blue);
    border-radius: 5px;
}

.friends-list{
    background-color: greenyellow;
    font-weight: bolder;
    text-align: center;
}
/* .list-group-item:hover{
    background-color: ivory;
} */
#invite-friend-btn {
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
}
#start-btn {
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
    background-color: var(--green);
}
#back-btn {
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
    background-color: var(--red);
}
/* .notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
background: red;
}

.notification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background: red;
color: white;
} */

@keyframes circle {
    0% {
        background-color: var(--orange);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}